@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'brassMono';
  src: url('/fonts/brassMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'brassMono', monospace;
}